@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway.regular.ttf');

}
body
{
    font-family: "raleway";
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
}

nav a:visited
{
    color:black
}
nav a:hover
{
color:blue;
border-top: 1px solid blue;
}


#liste_1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hebergement_1
{
    width: 190px;

    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom:2px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 12px;
    margin-right: 12px;

    
    
}
.div1
{
    margin-left: 10px;
}
.hebergement_1 img
{
    width: 190px;
    height: 110px;
}


article
{
    background-color: #F2F2F2;
}

#Global_1
{
    width: 64%;
    margin-right: 3%;
}



footer
{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    
}
li
{
    list-style: none;
}


#afficher_plus
{
    padding-top:20px;
    padding-bottom:20px;
    padding-left:40px;
    font-weight: bold;
}
i
{
    color: #0065FC;
}
.star-grey
{
    color: rgb(207, 204, 204)
}

#flexgraphic
{
  display: flex;
    justify-content: space-around;
    align-self: normal;
    align-items: center;
    

    
}
#icone_stats
{
    color :black;
}
.hébergement_2 img
{
 width: 120px ;
 height:120px ;
 border-radius: 10% 0% 0% 10%;
 margin-right: 4%;
 

}

p{
    font-size: 0.8em;
}
.hébergement_2
{
    width: 90%;
    
    background-color: white;
    
    border-radius: 20px;
    padding:1px;
 display: flex;
align-items: flex-start;
flex-wrap: nowrap;
margin-bottom: 10px;

}


#global_2
{
    width: 35%;
    display: flex;
    justify-content: space-between;
    flex-direction : column;
    align-items: center;
    margin-bottom: 10px ;
    
    
}
#global_all
{ 
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%
}


#regroupement1234
{
    display: flex;
    flex-wrap: nowrap;
justify-content: space-around;

}
#regroupement1234 article
{
    width: 22%;
}

.regroupement_1
{
    width: 100%;
    height: 245px;    
    object-fit: cover;
}

#enligne
{
    display: flex;
    flex-direction: column;
}


#deuxa{
    width:100%;
    height: 130px;
    object-fit: cover;
}
#deuxb
{
    width: 100%;
    height:60px;
    object-fit: cover;
}


#quatrea
{
    width: 100%;
    height: 85px;
    object-fit: cover;
}
#quatreb
{
    width: 100%;
    height: 95px;
    object-fit: cover;
    
}
#activiteMarseille article
{
    background-color: white;
}

.activiteElement
{
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgb(175, 175, 175);
    overflow: hidden;
    margin-bottom: 10px;
}


#rechercherButtom
{
    color: white;
    background-color: #0065FC;
    height: 24px;
    border-radius: 0 10px 10px 0;
    border:none;
    padding: 5px;
    
}

#rechercherDiv
{
    display:inline-block;
    border-radius: 10px;
    overflow: hidden;
    border : 1px solid #F2F2F2;
    
} 

#localtionIcon{
    padding: 5px;
    background-color: #F2F2F2;
}

#rechercher{
    
    border: none;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 5px;
    
}


#mesFiltres{
    display: flex;
}
.unFiltre{
    margin-left: 20px;
    display:flex;

    overflow: hidden;
    border-radius: 100px;
    border : 1px solid #F2F2F2;
    height: min-content
}

.filtreIcon{
    border-radius: 50%;
    background-color: lightblue;
    color: #0065FC;
    text-align: center;
    align-self: center;
    padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    
}

.texteFiltre{
    padding-left: 5px;
    padding-right: 10px;
    margin: 0;
    align-self: center;
}


nav 
{
display : flex ;
justify-content: space-between;
align-items: flex-start;
margin-right: 50px;

}
#bleu
{
    color: rgb(80, 162, 255);
}
#bleufonce
{
    color: #0065FC;
}
#reservia
{
    width: 80px;
    height: 40px;
    
    

}
#adroite
{
    display: flex;
    justify-content: space-between;
    width: 300px;
   
}

.menuAppli{
    margin-left: 20px;
}

a
{
text-decoration: none;
}
.noir
{
  color: black
}
